<ion-header no-border>

  <ion-navbar transparent>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="app_bg">
  <div align="center" style="margin-top:10px">
    <img src="../../assets/img/ff.png" width="200" height="50"/>
  </div>
  <form *ngIf="form" [formGroup]="form" (submit)="doContinue()">
    <div align="center" style="position: absolute;top: 128px; left: 0; bottom: 0; right: 0;">
      <p style="width: 221px;height: 21px;font-weight: bold;line-height: normal;font-size: 17px;text-align: center;color: #E5E5E5;">What's your mobile number</p>
    </div>
    <div align="center" style="position: absolute;top: 172px; left: 0; bottom: 0; right: 0;">
      <!--<p style="width: 222px;height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;">We want to retrieve your loan account</p>-->
    </div>
    <div align="center" style="position: absolute;top: 216px; left: 0; bottom: 0; right: 0;">
      <ion-item>
        <!--<ion-label color="primary" stacked>Stacked Label</ion-label>-->
        <ion-input type="tel" formControlName="phoneNumber" name="phoneNumber" placeholder="Mobile Number"></ion-input>
      </ion-item>
    </div>
    <div align="center" style="position: absolute;top: 354px; left: 0; bottom: 0; right: 0;">
        <button ion-button [disabled]="!isReadyToProceed" style="width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">{{ 'PROCEED_BUTTON' | translate }}</button>
    </div>
    <!--<div align="center" style="position: absolute;top: 580px; left: 0; bottom: 0; right: 0;">
        <p style="height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;">I do not want to continue</p>
    </div>-->
  </form>
</ion-content>
