page-confirmloan {
    .card-confirm {
        margin-top: 2px;
        padding-top:2opx;
        border-radius:5px;
    }

    .loan-info {
        margin-top: 15px;
    }

    .decision-button {
        
    }

    .big-amount {
        font-size: 30px;
    }

    .label {
        color: #0E237E;
    }
}
