page-payfailed {
  .success-check {
        font-size: 160px;
    }

    .first-success-div {
        margin-top: 60px;
    }

    .status {
        font-size: 25px;
    }

    .amount {
        font-size: 55px;
    }

    .balance {
        font-weight: bold;
    }

    .done-button {
        margin-top:10px;
        width: 285px;
        height: 50px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: transparent !important
    }

    .drop{
        margin-top: 30px;
    }

    .button_drop{
         margin-top: 90px;
    }
}
