<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  class="app_bg" style="height: 100%">
  <form *ngIf="form" [formGroup]="form" (submit)="submit()">
    <div align="center" style="margin-top:100px">
      <ion-item>
        <ion-input type="password" formControlName="currentPassword" name="currentPassword" placeholder="Current Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password"></ion-input>
      </ion-item>
      <div *ngIf="!form.controls.newPassword.valid && form.controls.newPassword.dirty">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div *ngIf="(form.controls.newPassword.valid) && (form.controls.confirmPassword.value != form.controls.newPassword.value && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password did not match</p>
      </div>
      <div *ngIf="(!form.controls.newPassword.valid) && (!form.controls.confirmPassword.valid && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>
    </div>
    <div align="center" style="margin-top:30px">
        <button ion-button [disabled]="!isReadyToProceed" style="width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">Submit</button>
    </div>
  </form>
</ion-content>


