<!--
  Created by Akobundu Michael (P7543)
-->
<ion-header style="background-image: linear-gradient(#247BA0 0%, #0A2463);">

  <ion-navbar transparent>
    <ion-title style="color:#ffffff">Add Payment Card</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="getpaymentCards()">
        <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar transparent>
    <!--<div align="center">-->
      <p style="font-size:13px; text-align:center;color:#ffffff">75% Complete</p>
      <img src="../../assets/img/progress3.png"/>
      <ion-grid style="color:#ffffff;font-size:11px">
        <ion-row>
            <ion-col>
                Loan Offers
            </ion-col>
            <ion-col>
                Select Bank
            </ion-col>
            <ion-col>
                <b>Payment Card</b>
            </ion-col>
            <ion-col>
            Confirm Loan
            </ion-col>
        </ion-row>
      </ion-grid>
    <!--</div>-->

  </ion-toolbar>

</ion-header>


<ion-content padding style="height:100%">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
        <p style="text-align:center;height: 34px;top: 189px;font-size: 13px;color:#0A2463">Please select a card</p>
            <div *ngIf="!cards.length" style="top:241px">
              <!-- This must be on production -->
                <ion-item style="background: rgba(239, 243, 247, 0.79);border: 1px solid #247BA0;box-sizing: border-box;border-radius: 1px;" (click)="addCardDetails()">
                    <p style="color:#3D5789;font-weight:bold">Add Card</p>
                    <button ion-button clear item-end>
                    <ion-icon style="font-size:30px;color:gray" name="ios-arrow-forward"></ion-icon>
                    </button>
                </ion-item>
                <!-- This must be on production -->
<!-- This won't be there on prod -->
                <!-- <ion-item style="background: rgba(239, 243, 247, 0.79);border: 1px solid #247BA0;box-sizing: border-box;border-radius: 1px;" (click)="gotoConfirm()">
                        <p style="color:#3D5789;font-weight:bold">Confirm</p>
                        <button ion-button clear item-end>
                        <ion-icon style="font-size:30px;color:gray" name="ios-arrow-forward"></ion-icon>
                        </button>
                    </ion-item> -->

                    <!-- This won't be there on prod -->
            </div>
            <!-- This must be on production -->
            <div *ngIf="cards.length" style="top:241px">
                <div *ngFor="let card of cards">
                    <div *ngIf="card.tokenizationMethod == 'isw-token'" class="card-design" (click)="gotoConfirm()">
                        <p style="color:#3D5789;font-weight:bold">{{ card.bankCode | bankcode }}</p>
                        <p style="color:#3D5789;">************{{card.last4}}</p>
                        <button ion-button clear item-end>
                        <ion-icon style="font-size:30px;color:gray" name="ios-arrow-forward"></ion-icon>
                        </button>
                    </div>
                </div>
                <div align="center" style="margin-top:30px">
                    <a (click)="addCardDetails()" style="color:#0A2463"> Add a new card</a>
                </div>
            </div>

            <!-- This must be on production -->
    </div>

     <!-- <p style="color:#3D5789;font-weight:bold">Confirm</p> -->
</ion-content>
