<!--
  Generated template for the AddaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>Add Account</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios" style="color: #fff">
          Cancel
        </span>
        <ion-icon style="font-size:25px" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
<form *ngIf="form" [formGroup]="form" (submit)="doSubmit()">
<ion-card class="account-card">
  <ion-list>
    <p class="account-item" *ngIf="!ownbank">Please select your bank account</p>
    <ion-item *ngIf="!ownbank" class="card-data">
      <ion-select formControlName="bank" name="bank">
        <ion-option value="">Select Bank</ion-option>
        <ion-option *ngFor="let bank of banks" value="{{bank.code}}">{{bank.name}}</ion-option>
      </ion-select>
    </ion-item>
    <p class="account-item">Please enter your account No</p>
    <ion-item class="card-data">
      <ion-input formControlName="accountNo" name="accountNo" type="tel" placeholder="Account Number"></ion-input>
    </ion-item>
    <p class="account-item">Please enter your BVN</p>
    <ion-item class="card-data">
      <ion-input formControlName="bvn" name="bvn" type="tel" placeholder="BVN"></ion-input>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>
  <p class="account-item-last">Account type</p>
    <ion-grid radio-group formControlName="accountType" name="accountType" style="margin-left:5px" class="card-data">
    <ion-row>
      <ion-col>
      <ion-radio value="savings"></ion-radio> Savings
      </ion-col>
      <ion-col>
      <ion-radio value="current"></ion-radio> Current
      </ion-col>
    </ion-row>
    </ion-grid>
    <div style="margin-top:20px">
      <button ion-button color="fidelityGreen" [disabled]="!isReadyToProceed" class="custom-button adjust-button" round>Proceed</button>
    </div>
</ion-card>
</form>
</ion-content>
