<!--
  Generated template for the LoanhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>{{ 'LOANHISTORY_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
  <ion-list *ngIf="loans.length">
    <ion-item *ngFor="let loan of loans">
      <h2>{{ loan.clientNo }}</h2>
      <p>accountNo: {{ loan.accountNo }}</p>
      <p>principal: {{ loan.principal | moneyTransform }}</p>
      <p>Expiration: {{ loan.expiration |  expirationTransform }}
    </ion-item>  
  </ion-list>
  <div *ngIf="!loans.length">
      <div align="center">
        <p class="message">{{ message }}</p>
      </div>
  </div>
</ion-content>
