page-carddetails {

    .account-card {
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
    }

    .account-item {
        margin-top: 25px;
        margin-left:15px
    }

    .card-data {
        margin-top: 10px;
    }

    .card-card {
        padding-bottom: 20px;
        border-radius: 10px;
    }

}
