<!--
  Generated template for the CardlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>Cards</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios" style="color: #fff">
          Cancel
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
    <ion-list>
    <button *ngFor="let card of cards" ion-item (click)="cardSelected(card)">
      <p>{{card.displayName}}</p>
      <p>****************7790</p>
    </button> 
  </ion-list>
</ion-content>
