page-cardlist {
    .pay-button {
        width: 285px;
        height: 50px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: transparent !important;
        color:#ffffff;
    }

    .item.item-input {
        color:#fff;
        font-weight: bold;
        //border-radius: 15px;
        font-size:15px;
        height: 56px;
        min-width: 285px;
        width: 285px;
        background-color: transparent !important;
        border-bottom: none !important;
        margin-left: 10px;
        //background-color: rgba(127,127,127,0.78);
    }
}
