<!--
  Created by Akobundu Michael (P7543)
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title style="color:#ffffff"></ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios" style="color: #fff">
          Cancel
        </span>
        <ion-icon style="font-size:25px" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-image: linear-gradient(#247BA0 0%, #0A2463);height:100%">
    <div>
        <p style="text-align:center;height: 34px;top: 189px;font-size: 17px;color:#ffffff">You are to pay  &#8358;{{ balance }}</p>
            <div style="top:241px">
                <ion-item>
                    <ion-input type="number" [(ngModel)]="amountEntered" placeholder="Amount"></ion-input>
                </ion-item>
                <div padding align="center" style="margin-top:30px;font-size: 16px;color:#ffffff">
                    You are paying with {{ card.bankCode | bankcode }} card ending with "{{ card.last4 }}"
                </div>
                <div align="center" style="position: absolute;top: 380px; left: 0; bottom: 0; right: 0;">
                    <button (click)="pay()" ion-button class="pay-button">Pay</button>
                </div>
            </div>
    </div>
</ion-content>
