page-referralstatus {
    .status-card {
        border-radius: 5px;
    }

    .another-button {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
