<!--
  Generated template for the ReferralstatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>Recommend a Friend</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios" style="color: #fff">
          Cancel
        </span>
        <ion-icon style="font-size:25px" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
  <ion-card class="status-card">
    <ion-card-header style="background-color:#0E237E">
        <div align="center" *ngIf="status">
          <ion-icon name="happy" style="color:#fff;font-size:70px; padding: 10px"></ion-icon>
        </div>
        <div align="center" *ngIf="!status">
          <ion-icon name="sad" style="color:#fff;font-size:70px; padding: 10px"></ion-icon>
        </div>
    </ion-card-header>
    <ion-card-content>
        <div align="center" *ngIf="status" style="margin-top:50px">
          <p style="font-size:30px">Thank You!</p>
        </div>
        <div align="center" *ngIf="!status" style="margin-top:50px">
          <p style="font-size:30px;color:red">Sorry!</p>
        </div>
        <div align="center" *ngIf="status" style="margin-top:60px">
          <p style="font-size:15px">Thank You for recommending FastLoan!</p>
          <p style="font-size:15px">Your referral will be notified shortly</p>
        </div>
        <div align="center" *ngIf="!status" style="margin-top:60px">
          <p style="font-size:15px">The number you have referred does not qualify for a referral at this time. Please try another number</p>
        </div>
        <div padding align="center" style="margin-top:40px">
            <button ion-button color="fidelityGreen" class="status == true ? 'custom-button' : 'another-button'" (click)="status == true ? gotoMenu() : referAnother()" round>{{ status == true ? 'Menu' : 'Another person' }}</button>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
