page-payloan {

    .item-name {
        font-size: 20px;
    }

    .item-card {
        padding: 10px;
        border-radius:5px;
        margin-top:10px;
    }

    .sub-title {
        text-align:center;
        height: 34px;
        margin-top: 80px;
        font-size: 13px;
        color:#ffffff;
    }

    .button-design {
        margin-top:10px;
        width: 285px;
        height: 50px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: transparent !important;
    }

    .page-title {
        text-align: center;
        font-size:18px;
        color:#fff;
    }

    .background {
        background-image: linear-gradient(#247BA0 0%, #0A2463); 
        height: 100%;
    }

    .buttons-wrapper {
        position: absolute;
        top:180px; 
        left: 0; 
        bottom: 0; 
        right: 0;
    }


}
