<!--
  Created by Akobundu Michael (P7543)
-->
<ion-header style="background-image: linear-gradient(#247BA0 0%, #0A2463);">

  <ion-navbar transparent>
    <ion-title>Terms and conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <div padding class="terms">
        <p>You agree:</p>
        <p class="term">a. To pay loan balance on or before the due date.</p><br/>
        <p class="term">b. To allow use of your personal data to determine loan offers.</p><br/>
        <p class="term">c. To be subject to fees and penalties for late payment.</p><br/>
        <p class="term">d. To allow messages to your contacts if you do not pay.</p><br/>
        <p class="term">Visit <a style="color:blue" href="https://www.migo.money/terms-and-conditions/">our page</a> for full Ts & Cs</p>
      </div>
</ion-content>

