<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
  <ion-card class="terms-card">

    <ion-card-content>
      <div class="terms">
        You agree:<br/>
        <p class="term">a. To pay loan balance on or before the due date.</p><br/>
        <p class="term">b. To allow use of your personal data to determine loan offers.</p><br/>
        <p class="term">c. To be subject to fees and penalties for late payment.</p><br/>
        <p class="term">d. To allow messages to your contacts if you do not pay.</p><br/>
        <p class="term">Visit <a style="color:blue" href="https://www.migo.money/terms-and-conditions/">our page</a> for full Ts & Cs</p>
      </div>
      <div padding align="center" style="margin-top:20px">
        <button ion-button color="fidelityGreen" class="custom-button" (click)="goBack()" round>Back</button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
