page-terms {
    .terms {
        
        margin-top:20px;
    }

    .terms-card {
        padding: 10px;
        border-radius: 5px;
    }

    .term {
        margin-top:0px;
        font-size: 15px;
    }
}
