<!--
Created by Akobundu Michael (P7543)
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app_bg" style="height: 100%">
    <p style="text-align: center;font-size:18px;color:#fff;margin-top:-15px">Pay Loan</p>
    <p style="padding-left:15px;font-weight:bold;color:#ffffff">Pay at a Bank Branch</p>
    <div padding style="margin-top:-20px">
        <p style="color:#ffffff">To pay at a bank branch, visit any of the following banks:</p>
        <p style="margin-top:20px;color:#ffffff">1. Fidelity Bank</p>
        <p style="color:#ffffff">2. Access Bank </p>
        <p style="color:#ffffff">3. UBA</p>
        <p style="color:#ffffff">4. GT Bank</p>
        <p style="color:#ffffff">5. Keystone Bank</p>
        <p style="color:#ffffff">6. Sterling Bank</p>
    </div>
    <div padding style="margin-top:-20px;color:#FFFFFF">
        Your repayment shall be processed via PAYDIRECT. Please provide the phone number used with Fidelity Migo as your customer reference number, Thank you.
    </div>
    <div align="center" style="position: absolute;top:440px; left: 0; bottom: 0; right: 0;">
        <button (click)="okay()" ion-button style="margin-top:10px;width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">Okay</button>
    </div>
</ion-content>

