page-extendloan {

    .success-cover {
        background:url('../../assets/img/confirm_bg.jpg') no-repeat;
        background-size: cover;
    }

    .message {
        font-size: 20px;
        margin-top: 200px;
    }

}
