<!--
Created by Akobundu Michael (P7543)
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app_bg" style="height: 100%">
    <p style="text-align: center;font-size:18px;color:#fff;margin-top:-15px">Pay Loan</p>
    <p style="padding-left:15px;font-weight:bold;color:#ffffff">Pay with ATM</p>
    <div padding style="margin-top:-20px">
        <p style="color:#ffffff">To pay at an ATM, please ensure you have the phone that receives your bank alerts with you in case you need to receive a token, then do the following:</p>
        <p style="color:#ffffff">1. Insert your ATM card and select the 'Quickteller' option</p>
        <p style="color:#ffffff">2. Select 'Pay Bills' </p>
        <p style="color:#ffffff">3. Select 'Others' </p>
        <p style="color:#ffffff">4. Enter '04225701' as the Biller Code </p>
        <p style="color:#ffffff">5. Enter the phone number being used with FastLoan for 'Customer Reference Number' </p>
        <p style="color:#ffffff">6. Confirm payment</p>
        <p style="color:#ffffff">7. You will see a confirmation message for your payment.</p>
        <p style="color:#ffffff">Kindly note that there is a N100 processing fee</p>
    </div>
    <div align="center" style="position: absolute;top:430px; left: 0; bottom: 0; right: 0;">
        <button (click)="okay()" ion-button style="margin-top:10px;width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">Okay</button>
    </div>
</ion-content>

