page-accountlist {

    .sub-title {
        text-align:center;
        height: 34px;
        top: 189px;
        font-size: 13px;
        color:#0A2463;
    }

    .box-wrapper {
        top:241px;
        height:80px;
    }

    .account-details-wrapper {
        background: rgba(239, 243, 247, 0.79);
        border: 1px solid #247BA0;
        box-sizing: border-box;
        border-radius: 1px;
    }

}
