<!--
  Created by Akobundu Michael (P7543)
-->
<ion-header style="background-image: linear-gradient(#247BA0 0%, #0A2463);">

  <ion-navbar transparent>
    <ion-title style="color:#ffffff">Pay Loan</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="getpaymentCards()">
        <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="height:100%">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
        <p style="text-align:center;height: 34px;top: 189px;font-size: 13px;color:#0A2463">Please select payment card</p>
            <div *ngIf="!cards.length && !isBusy" style="top:241px">
                <ion-item style="background: rgba(239, 243, 247, 0.79);border: 1px solid #247BA0;box-sizing: border-box;border-radius: 1px;" (click)="addCardDetails()">
                    <p style="color:#3D5789;font-weight:bold">Add Card</p>
                    <button ion-button clear item-end>
                    <ion-icon style="font-size:30px;color:gray" name="ios-arrow-forward"></ion-icon>
                    </button>
                </ion-item>
            </div>
            <div *ngIf="cards.length && !isBusy" style="top:241px">
                <div *ngFor="let card of cards">
                    <div *ngIf="card.tokenizationMethod == 'isw-token'" class="card-list" (click)="payWith(card)">
                        <p style="color:#3D5789;font-weight:bold">{{ card.bankCode | bankcode }}</p>
                        <p style="color:#3D5789;">Last Four: ************{{card.last4}}</p>
                        <!--<button ion-button clear item-end>
                        <ion-icon style="font-size:30px;color:gray" name="ios-arrow-forward"></ion-icon>
                        </button>-->
                    </div>
                </div>
                <div align="center" style="margin-top:30px">
                    <a (click)="addCardDetails()" style="color:#0A2463"> Add a new card</a>
                </div>
            </div>
    </div>
</ion-content>
