<!--
  Generated template for the OpenaccountsuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton color="fidelityBlue">
    <ion-title>Success</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
    <p><img src="../assets/img/logo.png" class="logo"/></p>

      <div class="accountnumber-wrapper">
          Congratulations your fidelity bank account number is:
      </div>
      <div align="center" class="accountnumber">
          5050139163
      </div>
      <div class="accountnumber-info">
          Your account number has been entered in the raffle draw.
      </div>
      <div class="accountnumber-info">
          Click on the link below to register for online and internet banking.
      </div>
      <div padding align="center" style="margin-top:100px">
        <button ion-button color="fidelityGreen" class="custom-button" round>Register</button>
      </div>

</ion-content>
