page-openaccountsuccess {
    .logo {
        float:right;
        margin-right:10px;
        height: 30px; 
    }

    .accountnumber-wrapper {
        margin-top: 100px;
        font-size: 17px;
    }

    .accountnumber {
        font-size: 22px;
        margin-top:15px;
        color: #78B844;
    }

    .accountnumber-info {
        margin-top: 15px;
        font-size: 17px;
    }
}
