page-newreg {
  .item.item-input {
    color:#fff;
    font-weight: bold;
    //border-radius: 15px;
    font-size:15px;
    height: 56px;
    min-width: 285px;
    width: 285px;
    background-color: transparent !important;
    border-bottom: none !important;
    margin-right: 20px;
    //background-color: rgba(127,127,127,0.78);
}

.text-input::-moz-placeholder {
    color: white;
}

.text-input:-ms-input-placeholder {
    color: white;
}

.text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
}

.form-subtitle {
    color:#fff;
    font-size:16px
}

.input-error {
    color: red;
    max-width:256px;
}

.regForm{
  margin-top: 20px;

  ion-input{
    width: 100%;
  }
}

.submit_button{
  margin-top: 20px;
 button{
   width: 80% !important;
   border: 1px solid #FFFFFF !important;
   box-sizing: border-box !important;
   border-radius: 2px !important;
   border-color: transparent !important;
 }
}
}
