
<ion-content class="app_bg">
  <form *ngIf="form" [formGroup]="form" (submit)="doLogin()">
    <div align="center" style="margin-top:60px; padding-left: 30px;">
      <img src="../../assets/img/ff.png" width="200" height="50"/>
    </div>
    <div align="center">
      <p style="color:#FFFFFF;">Powered by Fidelity Bank PLC</p>
    </div>
    <div align="center" style="margin-top:100px">
      <ion-item>
        <ion-input type="tel" formControlName="username" name="username" placeholder="Mobile Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="password" name="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item class="biometric" *ngIf="hasFingerPrint">
        <ion-label class="biometric-label">Enable Biometric</ion-label>
        <ion-toggle formControlName="isFingerPrint" [disabled]="!isReadyToProceed" name="isFingerPrint" (ionChange)="FingerPrintAuth()" checked="false"></ion-toggle>
      </ion-item>
    </div>
    <div align="center" style="margin-top:30px">
        <button ion-button [disabled]="!isReadyToProceed" style="width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">Sign in</button>
    </div>
    <div align="center">
        <p style="height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;">I do not have an account <a (click)="gotoLogin()">Create account</a></p>
        <p style="height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;"><a (click)="gotoForgotpassword()">Forgot Password</a></p>
        <p style="height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;"><a (click)="gotoChangeDevice()">Change Device</a></p>
    </div>
  </form>
</ion-content>

