page-disbursed {
    .disbursed-card {
        margin-top: 90px;
        border-radius: 5px;
        padding: 5px;
    }

    .logo {
        float:right;
        margin-right:10px;
    }

    .message {
        font-size: 17px;
        text-align: center;
    }

    .success-check {
        font-size: 160px;
    }
}
