<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>Change Device</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="app_bg" style="height: 100%">
  <form *ngIf="form" [formGroup]="form" (submit)="submit()">
    <div align="center" style="margin-top:100px">
      <ion-item>
        <ion-input type="tel" formControlName="phoneNumber" name="phoneNumber" placeholder="Phone Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="password" name="password" placeholder="Password"></ion-input>
      </ion-item>
    </div>
    <div align="center" style="margin-top:30px">
        <button ion-button [disabled]="!isReadyToProceed" style="width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">Submit</button>
    </div>
    <div align="center">
        <p style="height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;">Already have an account? <a (click)="gotoLogin()">Sign in</a></p>
    </div>
  </form>
</ion-content>


