page-openaccount {
    .logo {
        float:right;
        margin-right:10px;
        height: 30px;
    }

    .accountlist-wrapper {
        margin-top: 150px;
    }

    .item.item-input {
        border-top: none !important;
        background-color: transparent;
    }
}
