<!--
  Generated template for the OpenaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>Open an Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
  <p><img src="../assets/img/logo.png" class="logo"/></p>
  <form *ngIf="form" [formGroup]="form" (submit)="tiggerAccountOpening()">
    <ion-list class="accountlist-wrapper">
      <ion-item>
        <ion-input type="tel" placeholder="BVN Details" formControlName="bvn" name="bvn"></ion-input>
      </ion-item>
    </ion-list>
  <button ion-button color="fidelityGreen" [disabled]="!isReadyToProceed" class="custom-button" round>Open an Account</button>
  </form>
</ion-content>
