page-recommend {

    .label-wrapper {
        margin-left:40px;
        color:#3D5789;
    }

    .recommend-card {
        margin-top:15px;
        background: transparent !important;//rgba(239, 243, 247, 0.79);
        border: 1px solid #247BA0;
        box-sizing: border-box;
        border-radius: 1px;
    }
}
