<!--
  Created by Akobundu Michael (P7543)
-->
<ion-header style="background-image: linear-gradient(#247BA0 0%, #0A2463);">

  <ion-navbar transparent>
    <ion-title style="color:#ffffff">Add new account</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios" style="color: #fff">
          Cancel
        </span>
        <ion-icon style="font-size:25px" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar transparent>
    <!--<div align="center">-->
      <p class="request-level">50% Complete</p>
      <img src="../../assets/img/progress2.png"/>
      <ion-grid style="color:#ffffff;font-size:11px">
        <ion-row>
            <ion-col>
                Loan Offers
            </ion-col>
            <ion-col>
                Select bank
            </ion-col>
            <ion-col>
                Payment Card
            </ion-col>
            <ion-col>
            Confirm Loan
            </ion-col>
        </ion-row>
      </ion-grid>
    <!--</div>-->

  </ion-toolbar>

</ion-header>


<ion-content padding style="height:100%">
        <p class="sub-title">Please provide account we should credit to</p>
            <form *ngIf="form" [formGroup]="form" (submit)="doSubmit()">
            <div style="top:241px;height:80px">
                <ion-list>
                  <ion-item>
                      <ion-label>Select Bank</ion-label>
                      <ion-select formControlName="bank" name="bank" (ionChange)="onChange($event)">
                          <ion-option value="savings">Select</ion-option>
                          <ion-option *ngFor="let bank of banks" value="{{bank.code}}">{{bank.name}}</ion-option>
                      </ion-select>
                  </ion-item>
                  <div *ngIf="!isOtherBanks">
                    <ion-item *ngFor="let account of accounts;let idx = index" (click)="onItemClicked(idx, account.accountNumber)" style="background: rgba(239, 243, 247, 0.79);border: 1px solid #247BA0;box-sizing: border-box;border-radius: 1px;margin-top:5px;">
                        <p style="color:#3D5789;font-weight:bold">{{ account.accountNumber }}</p>
                        <p style="color:#3D5789;margin-top:10px">{{ account.accountName }}</p>
                        <button ion-button clear item-end>
                        <ion-icon style="font-size:30px;color:gray" name="{{ currentSelected == idx ? 'checkmark':'ios-arrow-forward' }}"></ion-icon>
                        </button>
                    </ion-item>
                  </div>
                  <ion-item *ngIf="isOtherBanks" class="card-data">
                      <ion-input formControlName="accountNo" name="accountNo" type="tel" placeholder="Account Number" (keyup)="press($event.target.value)"></ion-input>
                  </ion-item>
                  <div class="enquiredName" *ngIf="enquiryDone">{{enquiredName}}</div>
                  <ion-item *ngIf="isOtherBanks" class="card-data">
                      <ion-input formControlName="bvn" name="bvn" type="tel" placeholder="BVN"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!isOtherBanks">
                    <ion-label>BVN: {{selectedBvn}}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="accountSelected || isOtherBanks">
                      <ion-label>Account type</ion-label>
                      <ion-select formControlName="accountType" name="accountType">
                          <ion-option value="savings">Savings</ion-option>
                          <ion-option value="current">Current</ion-option>
                      </ion-select>
                  </ion-item>
                </ion-list>
                <div align="center">
                    <button ion-button [disabled]="!isReadyToProceed" style="width: 285px;height: 50px;border: 1px solid #0A2463;box-sizing: border-box;border-radius: 2px;background-color: transparent !important;color:#0A2463">Submit</button>
                </div>
            </div>
            </form>
</ion-content>
