page-selectloan {

    .addaccount-list {
        padding-bottom: 130px;
    }

    .addaccount-card {
        padding-bottom: 40px;
        border-radius: 5px;
    }

    .clickable {
       font-size:30px;
        color:gray;
    }

    .add-button {
        font-size:17px;
    }

    .plus-icon {
        font-size:50px;
    }

    .sub-title {
        text-align:center;
        height: 34px;
        top: 189px;
        font-size: 13px;
        color:#0A2463;
    }

    .account-details-wrapper {
        background: rgba(239, 243, 247, 0.79);
        border: 1px solid #247BA0;
        box-sizing: border-box;
        border-radius: 1px;
        margin-top: 5px;
    }

}
